html, 	body {
	font-size: 16px;
	background-color: #DEDEDE;
	color: #343434;
}

/*Menu*/
.menu {
	position: fixed;
}

.geography {
	display: flex;
}
.geography__info {
	margin: 0;
	padding: 5rem 1rem 0;
	background-color: white;
	height: 100vh;
	flex-basis: 40%;
}
.geography__info__title {
	margin: .8rem 0;
	font-size: 2rem;
}
.geography__search {
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url('background_index.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding-top: 3.5rem;
	flex-basis: 60%;
}
.geography__search__content {
	width: 30rem;
	background-color: white;
}
.geography__search__content__title {
	margin: 0 0 2rem;
	text-align: center;
	color: white;
	padding: 1rem 0;
	font-size: 1.5rem;
}
.geography__search__content__input {
	margin-right: 4rem;
	display: flex;
	align-items: center;
}