<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8" />
	<title>GeographyJS</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="css/style.css" />
</head>
<body>
<!-- holaaa -->
	<nav class="menu">
		<div class="nav-wrapper green accent-4">
			<a href="#" class="brand-logo">GeographyJS</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="/">Inicio</a></li>
				<li><a href="#">Acerca de</a></li>
				<li><a href="#">Ayuda</a></li>
			</ul>
		</div>
	</nav>

	<div id="map"></div>

<!-- script que carga jquery :D -->
<script src="jquery/dist/jquery.min.js"></script>
<!-- script carga de materialize -->
<script src="js/main.js"></script>
<script src="materialize/dist/js/materialize.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAg1oQGUsCuZ36N_X9VWnX5Rt9lsSqVvgA&callback=initMap&libraries=drawing"></script>
</body>
</html>